@use "../global/variables" as *;
@use "../global/media" as *;

.footer {
  padding: 11px 0 20px;
  background-color: #f1f6fc;

  @media #{$not-mobile} {
    padding: 22px 0;
  }

  @media #{$desktop-only} {
    padding: 24px 0;
  }
}

.footer__body {
  display: flex;
  flex-wrap: wrap;

  @media #{$not-mobile} {
    margin-left: -6px;
  }

  @media #{$desktop-only} {
    margin-left: 0;
  }
}

.footer__logo {
  flex-shrink: 0;
  margin-right: auto;
}

.footer__social {
  max-width: 200px;
  padding-top: 9px;

  @media #{$not-mobile} {
    max-width: 300px;
    padding-top: 14px;
    padding-left: 40px;
  }

  @media #{$desktop-only} {
    max-width: 370px;
    padding-top: 10px;
    padding-left: 36px;
  }
}

.footer__copyrights {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  min-width: 110px;
  margin-left: auto;
  padding-top: 9px;
  font-size: 11px;
  line-height: 13px;
  color: $color-default;
  text-decoration: none;
  overflow-wrap: anywhere;

  @media #{$not-mobile} {
    min-width: 155px;
    max-width: 200px;
    padding-top: 17px;
    font-size: 16px;
    line-height: 19px;
  }

  @media #{$desktop-only} {
    max-width: 300px;
    padding-right: 3px;
  }

  &::after {
    flex-shrink: 0;
    display: block;
    width: 20px;
    height: 24px;
    background-color: $color-default;
    mask-image: url("../../img/icons/stack.svg#htmlacademy");
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    content: "";

    @media #{$not-mobile} {
      width: 26px;
      height: 32px;
    }
  }

  &:focus {
    outline-color: #6a107a;
    outline-offset: 5px;
  }

  &:hover {
    color: #7bdb0a;
    cursor: pointer;
  }

  &:hover::after {
    background-color: #7bdb0a;
  }

  &:active {
    color: #0f805d;
  }

  &:active::after {
    background-color: #0f805d;
  }
}

.footer__copyrights-text {
  padding-top: 6px;
}
