/* здесь подключите шрифты*/
@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../../fonts/raleway-400.woff2") format("woff2"),
    url("../../fonts/raleway-400.woff") format("woff");
}

@font-face {
  font-family: "comfortaa";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../../fonts/comfortaa-400.woff2") format("woff2"),
    url("../../fonts/comfortaa-400.woff") format("woff");
}
